{% doc %}
  Displays the content body of a page.
{% enddoc %}

<div class="article prose empty:hidden">
  {{- page.content -}}
</div>

{% schema %}
{
  "name": "t:blocks.page_content.name"
}
{% endschema %}
